.heading{
    width: 100%;
    padding: 2rem;
    text-align: center;
    font-size: 4rem;

    &__blue{
        background-color: $col-main;
        color: $col-white;
    }
    
    & > b{
        color: $col-main;
        font-weight: 400;
    }

    &__description{
        width: 70%;
        font-size: 1.6rem;
        color: $col-slate-normal;
    }
}