@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');


// ? colors
    $col-main: #2563eb;
    $col-main-light: #60a5fa;
    $col-main-mid: #3b82f6;
    $col-main-dark: #1e40af;

    $col-white-dark: #e2e8f0;
    $col-white-sky: #f0f9ff;
    $col-white: #ffffff;
    $col-white-2: #f8fafc;

    $col-gray-light: #888;

    $col-slate-dark: #0f172a;
    $col-slate-mid: #0f172a;
    $col-slate-normal:#1e293b;

// ? font things
    $def-font-size: 1.6rem;
    $main-font: 'Kanit', sans-serif;

// ? gradients things 

// ? shadows things